
/* Reset css start  */
img{
    max-width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Reset css end  */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

p, span, a {
    font-family: 'Roboto', sans-serif;
}

body .container-fluid{
    max-width: 1480px;
}






/* header area  */
.header{}
.header li:hover > a{
    color: #e83b3e !important;
}
.header li a{
    color:black;
    font-weight: 500;
}
/* dropdown  */
.header li {
    position: relative;
    padding: 0px 10px;
}
.header li ul{
    position: absolute;
    top: 150%;
    left: 0px;
    width: 200px;
    list-style: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
    padding: 0 12px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

    
}
.header li ul li{
    padding: 8px 0px;
}
.header li ul li a{
    text-decoration: none;
    
}
.header li ul li a{}
.header li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}


.icon {
    width: 80px;
 
}
.icon .search-icon {
    border-right: 1px solid black;
  
    padding: 10px 20px;
    
}
.icon .search-icon i {
    font-size: 19px;
}
.icon .tel-icon  {
    padding: 0px 10px;
}
.icon .tel-icon i {
    font-size: 26px;
    color: #e83b3e;
}

.call {
    width: 200px;
  padding: 0px 30px;
}
.call .call-text {}
.call .call-text span {}
.call .number {}
.call .number a {
    text-decoration: none;
}



body .btn.btn-primary {
    padding: 12px 45px;
    background-color:#e83b3e ;
    border: #e83b3e;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    font-size: 20px;
}

body .btn.btn-primary::after{
    content: '';
    position: absolute;
    background-color: #000;
    width: 0;
    height: 100%;
    left: 0px;
    top: 0px;
    
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    border-radius: 5px;

}
body .btn.btn-primary:hover::after{
width: 100%;

opacity: 1;
visibility: visible;
}


/* header area  */








/* banner  */
.banner{
    background-image: url(https://templates.envytheme.com/finix/default/assets/img/main-banner2.jpg);
    
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
   
}
.banner-content{
    height: 100vh;
    display: flex;
    align-items: center;
}

.wrap {}
.wrap h6 {
    color: #e83b3e;
    font-size: 18px;
}
.wrap h1 {
    font-weight: 500;
    font-size: 59px;
    padding: 40px 0px;
}
.wrap p {}
.sceond-button{
    margin-top: 40px;
}

.banner-icon{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
   
}
.banner-icon li a{
    color: #000;
    padding: 0px 10px;
}



/* banner  */
.company-logo{
    border-bottom: 1px solid #000;
}
.company-logo-item img {
    padding: 60px 0px;
}



/* about  */

.about{
    position: relative;
    
    
}
.another {
   
background: url(./img/shape.png);
   
background-repeat: no-repeat;
   
background-position: center;
   
background-size: contain;
   
height: 191px;
   
width: 200px;
   
display: flex;
   
justify-content: center;
   
align-items: center;
   
position: absolute;
   
bottom: 61px;
   
left: 524px;
}
.about-right h6{
    color: #e83b3e;
}
.about-right h1{
    font-weight: 500;
    font-size: 41px;
    padding: 20px 0px;
}
.about-right ul{
    list-style: none;
    padding: 0;
}
.about-right ul li{
   
}
.about-right ul li::before{
    content: '\f00c';
    font-family: "Font Awesome 6 pro";
     font-weight: 900;
     color: #e83b3e;
     margin-right: 10px;
     
}
/* about  */


.choose-us{
    background-color: #f9fbfc;
}
.about-right{
    position: relative;
   
}
.choose-icon {
    
    width: 100px;
    height: 100px;
    background-color: #fff !impotant;
    
    position: absolute;
    right: 1270px;
    bottom: -1508px;
   display: flex;
   align-items: center;
    justify-content: center;
    border-radius: 50%;
    
  
   
}
.choose-icon::before {
    content: '';
    
    width: 100px;
    height: 100px;
  
    
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e83b3e;
    border-radius: 50%;
    animation: mymove 1s ease-in-out infinite;
   
  
   
}
 
@keyframes mymove {
    0%   {transform: scale(0);
    opacity: 1;
}
    50%  {transform: scale(1.2);
        opacity: .8;}
    100%  {transform: scale(2);
        opacity: 0;}
   

  }


.choose-icon i{
    font-size: 80px;
    color: #e83b3e;

}
.cards{
    padding: 10px;
    position: relative;
    height: 300px;
    background-color: #fff;
    
    overflow: hidden;
    transition: .5s;
   
    
}
.cards:hover{
    transform:translateY(15px) ;
}
.cards:hover .card-icon{
   background-color: #e83b3e;
   
}
.cards:hover .card-icon i{
  color: #fff;
   
}
.card-icon{
    margin: auto;
    margin-top: 36px;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 100px;
    background-color: #fff;
    transition: .5s;
}
.card-icon i{
   font-size: 42px;
   color: #e83b3e;
}
.cards::before {
    content: '';
    height: 80%;
    width: 80%;
    background-color: #ffedeb;
    position: absolute;
    left: 0;
    right: 0;
    top: -146px;
    margin: auto;
    border-radius: 50%;
}
.extra{
    margin-top: -53px;
}


/* form  */
.header-text h6{
    color: #e83b3e;
}
.left-form{}
.left-form ul{
    list-style: none;
    position: relative;
}
.left-form ul::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: calc(100% - 100px);
    background-color: #e83b3e;
    margin-left: 20px;
    
}
.left-form ul li{
    position: relative;
    margin-left: 20px;
    padding-bottom: 40px;
   
}
.left-form ul li::before{
    content: attr(data-list);
    position: absolute;
    top: 0px;
    left: -46px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid  #e83b3e;
    line-height: 30px;
    text-align: center;

}
.right-form {
    background-color: #fdebeb;
    height: 820px;
}
input[type="text"], label ,select{
    border: none;
    outline: none;
    margin: 0px 40px;
    width: 90%;
    padding: 10px 0px;
  
  
  }
  .loan{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
    margin-left: 40px;
  }

/* form  */

/* company value  */
.com-head{
    background-color: #e83b3e;
    padding: 60px;
    border-radius: 10px;
    margin: 126px 0px;
}
.com-head h3{
    position: relative;
    color: #fff;
   
}
.com-head h3::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 1px;
    background-color: #fff;
   
}
.com-head-list{
    list-style: none;
    display: flex;
}
.com-head-list li a{
    margin-top: 13px;
    margin-left: 50px;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    
}
.com-head-list li span{
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    
}
.com-head-list span i{
    color: #e70202;
}

.com-val-icon{
    list-style: none;
}
.com-val-icon li{position: relative;}
.com-val-icon li::before{
    content: '\f0eb';
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: "Font Awesome 6 pro"; font-weight: 900;

}
.com-val-icon{}
/* company value  */


.service-tab{
    justify-content: center;
    justify-content: space-evenly;
    border-bottom:1px solid black ;
    
}
.service-tab li{
    padding: 30px 0px;
   
}
.service-tab li a{}
.clientsP {
    width: 668px;
    font-weight: 400;
    
}
.textdetails h6{
    color: #e70202;
}
.team-content{
    position: relative;
}

.icon {
    position: absolute;
    bottom: 102px;
    left: 35px;
}
.icon li i {

    height: 36px;
    width: 36px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000;
    line-height: 36px;
    text-align: center;
    margin: 0 9px;
}
    .icon li {
        transition: .5s;
        transform: translateY(60px);
        visibility: hidden;
        opacity: 0;
    }
    .team-content:hover .icon li{
        opacity: 1;
        visibility: visible; transform: translateY(0px);
    }
    .team-content:hover .icon li:nth-child(1){
transition-delay: .2s;
    }
    .team-content:hover .icon li:nth-child(2){
        transition-delay:  .3s;
    }
    .team-content:hover .icon li:nth-child(3){
        transition-delay:  .4s;
    }
    .team-content:hover .icon li:nth-child(4){
        transition-delay:.5s ;
    }

    .team-content h5{
        padding: 10px 0;
        color: #e70202;
       
    }









    .success .h3{
        font-weight: 600;
        width: 400px;
    }
    .success h6{
        color: #e70202;
    }
    .success a {
        text-decoration: none;
        color: #000;
        font-weight: 600;
        transition: .5s;
        
    }
    .success a:hover {
       letter-spacing: 4px;
        
    }



    /* footer  */
.footer{
    background-color: #000;
}
.footer img{
    width: 200px;
    padding: 60px 0;
}

.footer ul{
    list-style: none;
}
.footer ul li{
    margin: 20px 30px;
    color: #ffff;
    transition: .5s;
}
.footer h3 {
    margin: 0px 40px;
    margin-top: 53px;
    position: relative;
    
}
.footer h3::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -14px;
    height: 38px;
    width: 3px;
    background-color: blue;
}
.footer-bottom{
    border-bottom: 1px solid rgb(226, 220, 220);
   margin-bottom: 30px;

}

.footer ul li:hover{
    letter-spacing: 3px;
}
/* footer  */

